<ion-side-menus>
    <ion-side-menu-content ng-controller="NavController">


<ion-nav-bar align-title="center" class="bar-positive header">
  <ion-nav-back-button class="button-icon">
  <i class="ion-chevron-left"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view name="dashboard" animation="slide-left-right"></ion-nav-view>
</ion-side-menu-content>

    <ion-side-menu side="left" ng-controller="NavController">

      <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Navigate</h1>
      </ion-header-bar>
      <ion-content has-header="true">
        <ul class="list">
          <a ui-href="#/dashboard/home" class="item" ng-click="toggleLeft()">Home</a>
          <a ui-href="#/dashboard/bpSearch" class="item" ng-click="toggleLeft()">BP Reports</a>
          <a  ui-href="#/dashboard/visitSearch" class="item" ng-click="toggleLeft()">Visit Record</a>
		  
		  <a ng-click="logout()" class="item">Logout</a>
		  
		 
        </ul>
      </ion-content>
      
    </ion-side-menu>

</ion-side-menus>
   
     
	  
</ion-side-menus>