<ion-view title="{{(params.cid != '') ? 'Update':'Create'}} Info">



<ion-content>
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>Contact Person</span>
            <input type="text" ng-model="contact.Received">
        </label>
        <label class="item item-input item-stacked-label">
            <span> Position</span>
            <input type="text" ng-model="contact.performed">
        </label>
        <label class="item item-input item-stacked-label">
            <span> Mobile No.</span>
            <input type="text" ng-model="contact.Product">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Email</span>
            <input type="text" ng-model="contact.Product">
        </label>
       
        
        <button class="button button-block button-small button-assertive" ng-click="save_contact(contact)">ADD</button>
       
    </div>
</ion-content>
</ion-view>


                  