<ion-view title="{{(params.vid != '') ? 'Update':'Create'}} Visit">
   
<ion-content>
<form class="form-horizontal">
	<div class="form-container fw">
        <div class="visitor3-page fw">
            <div class="white_box fw">
               <span><i class="ion-location"></i>Visit Form</span>
            </div>
        </div>
		<div class="container">
				<div class="row">
					<div class="col">
						
							<div class="form-group">
								<label class="control-label col-xs-5">Doc Series</label>
								<div class="col-xs-7"><input type="text" ng-readonly="true" ng-model="visitModel.DOC_SERIES" class="form-control" ></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Visit ID</label>
								<div class="col-xs-7"><input type="text" ng-readonly="true" ng-model="visitModel.VISIT_ID" class="form-control"></div>
							</div>
              <div class="form-group">
                <label class="control-label col-xs-5">Visit Details</label>
                <div class="col-xs-7"><input type="text" ng-model="visitModel.VISIT_DETAILS" maxlength="1000" class="form-control"></div>
              </div>
							<div class="form-group">
								<label class="control-label col-xs-5">Visit Time From</label>
								<div class="col-xs-7">
                                    <input type="text" placeholder="HH.mm" class="form-control" ng-model="visitModel.VISIT_TIME_FROM" class="form-control">
									</div>

							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Visit Time To</label>
								<div class="col-xs-7"><input type="text" placeholder="HH.mm" class="form-control" ng-model="visitModel.VISIT_TIME_TO" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Visit Date</label>
								<div class="col-xs-7"><input type="date" ng-model="visitModel.VISIT_DATE" ng-max="visitModel.VISIT_DATE" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Customer Id</label>
								<div class="col-xs-7">
                                <!-- <input type="text" ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off"
                       ng-model="visitModel.CUSTOMER_NO"
                       item-value-key="CUSTOMER_NO"
                       item-view-value-key="CUSTOMER_NO"
                       items-method="getCustom(query)"
                       items-method-value-key="Result"
                       max-selected-items="1"> -->

            <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="visitModel.CUSTOMER_NO"
                       item-value-key="CUSTOMER_NO"
                       item-view-value-key="CUSTOMER_NO"
                       items-method="getCustomID(query)"
                       items-clicked-method="getCustomIDClicked(callback)"
                       items-removed-method="getCustomIDRemoved(callback)"
                       cancel-button-clicked-method="tesTing(callback)"
                       max-selected-items="1"
                       select-items-label="Search CUSTOMER_NO"
                       selected-items-label="Selected CUSTOMER_NO:"
                       component-id="CUSTOMER_NO" />


                                </div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5 no-pad-right">Customer Name</label>
								<div class="col-xs-7">
                                <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="visitModel.CUSTOMER_NAME"
                                   item-value-key="CUSTOMER_NAME"
                                   item-view-value-key="CUSTOMER_NAME"
                                   items-method="getCustomNAME(query)"
                                   items-clicked-method="getCustomNAMEClicked(callback)"
                                   items-removed-method="getCustomNAMERemoved(callback)"
                                   cancel-button-clicked-method="tesTing(callback)"
                                   max-selected-items="1"
                                   select-items-label="Search CUSTOMER_NAME"
                                   selected-items-label="Selected CUSTOMER_NAME:"
                                   component-id="CUSTOMER_NAME" />

                                </div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Area Name</label>
								<div class="col-xs-7">

                                <input type="text" ng-show="showArea" ng-model="visitModel.AREA_NAME" class="form-control">

                                <select class="form-control" ng-show="!showArea" ng-model="visitModel.AREA_NAME" ng-options="item.AreaName as item.AreaName for item in fillAreaArr" ng-change="getCustConatct()" ></select>

                                </div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Address</label>
								<div class="col-xs-7">
                                <input type="text" ng-readonly="true" ng-click="getGeoLocation()" ng-model="visitModel.ADDRESS" class="form-control">

                                </div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Remark</label>
								<div class="col-xs-7"><input type="text" ng-model="visitModel.REMARK" maxlength="255" class="form-control"></div>
							</div>
							
							
						
					</div>
				</div>
			</div>
		</div>
	</div>
    
	<div class="form-container fw">
        <div class="visitor3-page fw">
            <div class="white_box fw">
               <span><i class="ion-person"></i> Customer / Contact Form</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                  
                  <div class="contact-repeater" ng-repeat="list in visitModel.Contact">
                    <div ng-show="($index > 0)">
                       <hr>
                       <div class="form-group">
                            <div class="text-right">
                                <div class="padding plus-minus-btn" ng-click="visitModel.Contact.splice($index, 1)">
                                    <i class="ion-minus-circled"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Person</label>
                            <div class="col-xs-7">
                            <input type="text" class="form-control" ng-model="visitModel.Contact[$index]['CUST_CONTACT_PERSON']" maxlength="60" ng-show="showContact" >

                                <select maxlength="60" class="form-control" ng-show="!showContact" ng-model="visitModel.Contact[$index]['CUST_CONTACT_PERSON']" ng-options="item.CONTACT_PERSON as item.CONTACT_PERSON for item in fillContactArr" ng-change="setVisitSelContact($index)"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Designation</label>
                            <div class="col-xs-7"><input type="text" class="form-control" maxlength="40" ng-model="visitModel.Contact[$index]['CONTACT_POSITION']"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Mobile No.</label>
                            <div class="col-xs-7"><input type="text" class="form-control" restrict-input="^[0-9]*$" maxlength="10" ng-model="visitModel.Contact[$index]['MOBILE_NO']"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Email</label>
                            <div class="col-xs-7"><input type="email" class="form-control" ng-model="visitModel.Contact[$index]['EMAIL']"></div>
                        </div>
                    </div>

                     <div class="form-group">
                        <div class="text-right">
                            <div class="padding plus-minus-btn" ng-click="visitModel.Contact.push({
                                'CUST_CONTACT_PERSON':'',
                                'CONTACT_POSITION':'',
                                'MOBILE_NO':'',
                                'EMAIL':'',
                               })">
                                <i class="ion-plus-circled"></i>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="form-container fw">
        <div class="visitor3-page fw">
            <div class="white_box fw">
               <span><i class="ion-pricetags"></i> Sales Person Form</span>
               
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                  
                <div class="sales-repeater" ng-repeat="list in visitModel.Sales">
                    <div ng-show="($index > 0)">
                       <hr>
                       <div class="form-group">
                            <div class="text-right">
                                <div class="padding plus-minus-btn" ng-click="visitModel.Sales.splice($index, 1)">
                                    <i class="ion-minus-circled"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Sales Person No </label>
                            <div class="col-xs-7">
							<select class="form-control" ng-model="visitModel.Sales[$index]['SALES_PERSON_NO']"  ng-options="item.SALES_PERSON_NO as item.SALES_PERSON_NO for item in fillSalesArr" ng-change="setVisitSelSales($index)" ></select>							
							</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Name</label>
                            <div class="col-xs-7"><input type="text" class="form-control" ng-model="visitModel.Sales[$index]['SALES_PERSON_NAME']"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Next Action</label>
                            <div class="col-xs-7"><input type="text" class="form-control" maxlength="80" ng-model="visitModel.Sales[$index]['NEXT_ACTION']"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Next Action Date</label>
                            <div class="col-xs-7"><input type="date" class="form-control" ng-model="visitModel.Sales[$index]['NEXT_ACTION_DATE']"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Next Action Time</label>
                            <div class="col-xs-7"><input type="text" class="form-control" ng-model="visitModel.Sales[$index]['NEXT_ACTION_TIME']"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Alert Required</label>
                            <div class="col-xs-7">
                                <select class="form-control" ng-model="visitModel.Sales[$index]['ALERT']">
                                    <option value=1 ng-selected="true">Yes</option>
                                    <option value='N'>No</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="(visitModel.Sales[$index]['ALERT'] == 1)">
                        <div class="form-group"  >
                            <label class="control-label col-xs-5">Alert Date</label>
                            <div class="col-xs-7"><input type="date" class="form-control" ng-model="visitModel.Sales[$index]['ALERT_DATE']"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Alert Time</label>
                            <div class="col-xs-7"><input type="text" placeholder="HH.mm"  class="form-control" ng-model="visitModel.Sales[$index]['ALERT_TIME']"></div>
                        </div>
                        </div>

                    </div>

                        <div class="form-group">
                            <div class="text-right">
                                <div class="padding plus-minus-btn" ng-click="visitModel.Sales.push({
                                'SALES_PERSON_NO':'',
                                'SALES_PERSON_NAME':'',
                                'NEXT_ACTION':'',
                                'NEXT_ACTION_DATE':currDate,
                                'NEXT_ACTION_TIME':'',
                                'ALERT':1,
                                'ALERT_DATE':currDate,
                                'ALERT_TIME':''
                               })">
                                    <i class="ion-plus-circled"></i>
                                </div>
                            </div>
                        </div>
               
             </div>
         </div>
    
</div>
</form>
 <div class="row" style="display:flex;" ng-show="((params.vid == ''))">
     <div class="col-100 col"><a ng-click="SaveVisit('Add')" class="button button-small button-assertive button-block search">Save</a></div>
</div>

<div class="row" style="display:flex;" ng-show="((params.vid != ''))">
    <div class="col-50 col"><a ng-click="SaveVisit('Authorize')"  class="button button-small button-assertive button-block search">Authorize</a></div>
     <div class="col-50 col"><a ng-click="SaveVisit('Update')" class="button button-small button-assertive button-block search">Update</a></div>
</div>






</ion-content>
</ion-view>
