<ion-view title="{{(params.pId != '') ? 'Update':'Create'}} Product">



<ion-content>
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>Item Type</span>
            <input type="text" ng-model="product.Type">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Item Code</span>
            <input type="text" ng-model="product.Code">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Description</span>
            <input type="text" ng-model="product.Description">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Qty</span>
            <input type="text" ng-model="product.Qty">
        </label>
         <label class="item item-input item-stacked-label">
            <span>Remarak</span>
            <input type="text" ng-model="product.Remarak">
        </label>
        
        <button class="button button-block button-small button-assertive" ng-click="save_product(product)">ADD</button>
       
    </div>
</ion-content>
</ion-view>

