<ion-view title="{{(params.pId != null) ? 'Update':'Add'}} Product">



<ion-content>
	<div class="list list-inset">
  <form ng-submit="AddVisitProd()">
    	<label class="item item-input item-stacked-label">
            <span>Item Type</span>
        </label>

      <select class="form-control" ng-model="VisitProd.ITEM_TYPE" ng-change="setProdForm()" >
            <option value="E" ng-selected="(VisitProd.ITEM_TYPE == 'E')">ERP Item</option>
            <option value="M" ng-selected="(VisitProd.ITEM_TYPE == 'M')">New Item</option>
        </select>
        

        
       
          <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'ITEM_GROUP'}" id="ITEM_GROUP">
            <span>Item Group*</span>
            <input type="text" ng-focus="rmEleId('ITEM_GROUP')" ng-show="!showGroup" ng-model="VisitProd.ITEM_GROUP"> 
            </label>
           

          <input ion-autocomplete ng-show="showGroup" type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="VisitProd.ITEM_GROUP"
                       item-value-key="Group_Code"
                       item-view-value-key="label"
                       search-items="ProdGroup"
                       items-method="getProdGroupID(query)"
                       items-clicked-method="getProdGroupIDClicked(callback)"
                       items-removed-method="getProdGroupIDRemoved(callback)"
                       max-selected-items="1"
                       select-items-label="Search Item Group"
                       selected-items-label="Selected Item Group:"
                       component-id="Group_Code" />
        

         <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'ITEM_CODE'}" id="ITEM_CODE">
            <span>Item Code*</span>

            <input type="text" ng-focus="rmEleId('ITEM_CODE')" ng-show="!showCode" ng-model="VisitProd.ITEM_CODE"> 

              <input ion-autocomplete ng-show="showCode" type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="VisitProd.ITEM_CODE"
                       item-value-key="Stock_NO"
                       item-view-value-key="label"
                       search-items="ProdCode"
                       items-method="getProductCodeID(query)"
                       items-clicked-method="getProductCodeIDClicked(callback)"
                       items-removed-method="getProductCodeIDRemoved(callback)"
                       max-selected-items="1"
                       select-items-label="Search Item Code"
                       selected-items-label="Selected Item Code:"
                       component-id="Stock_NO" />
        </label>
        
        
  
        
        <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'DESCRIPTION'}" id="DESCRIPTION">
            <span>Description*</span>
            <input type="text" ng-focus="rmEleId('DESCRIPTION')" ng-show="!showDesc" ng-model="VisitProd.DESCRIPTION">

              <input ion-autocomplete ng-show="showDesc" type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="VisitProd.DESCRIPTION"
                       item-value-key="Description"
                       item-view-value-key="label"
                       search-items="ProdDesc"
                       items-method="getProductDescID(query)"
                       items-clicked-method="getProductDescIDClicked(callback)"
                       items-removed-method="getProductDescIDRemoved(callback)"
                       max-selected-items="1"
                       select-items-label="Search Description"
                       selected-items-label="Selected Description:"
                       component-id="DESCRIPTION" />
        </label>

        <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'QUANTITY'}" id="QUANTITY">
            <span>Quantity*</span>
            <input type="text" restrict-input="^[0-9.]*$" ng-focus="rmEleId('QUANTITY')" ng-model="VisitProd.QUANTITY">
        </label>
      
         <label class="item item-input item-stacked-label">
            <span>Remark</span>
            <input type="text" ng-model="VisitProd.VISIT_REMARK">
        </label>
        
        <button type="submit" class="button button-block button-small button-assertive">
        {{(params.pId != null) ? 'Update':'Add'}}
        </button>
       </form>
    </div>
</ion-content>
</ion-view>

