<ion-view title="{{(params.pId != '') ? 'Update':'Create'}} Product">



<ion-content>
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>Item Type</span>
        

      <select class="form-control" ng-model="Productadd.ITEM_TYPE" >
             <option value="">Select item</option>
            <option value="E">ERP item</option>

            <option value="M">New ITM</option>
        </select>
        

        </label>
        <label class="item item-input item-stacked-label">
            <span>Item Code</span>
          

              <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="Productadd.ITEM_CODE"
                       item-value-key="Stock_NO"
                       item-view-value-key="Stock_NO"
                       items-method="getProductID(query)"
                       items-clicked-method="getProductIDClicked(callback)"
                       items-removed-method="getProductIDRemoved(callback)"
                       cancel-button-clicked-method="tesTing(callback)"
                       max-selected-items="1"
                       select-items-label="Search ITEM_CODE"
                       selected-items-label="Selected ITEM_CODE:"
                       component-id="Stock_NO" />
        </label>
        
        <label class="item item-input item-stacked-label">
            <span>Item category</span>
            <!-- <input type="text" ng-model="Productadd.category"> -->

      <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="Productadd.category"
                       item-value-key="Group_Code"
                       item-view-value-key="Group_Code"
                       items-method="getGroupID(query)"
                       items-clicked-method="getGroupIDClicked(callback)"
                       items-removed-method="getGroupIDRemoved(callback)"
                       cancel-button-clicked-method="tesTing(callback)"
                       max-selected-items="1"
                       select-items-label="Search Group_Code"
                       selected-items-label="Selected Group_Code:"
                       component-id="Group_Code" />
        </label>

        <label class="item item-input item-stacked-label">
            <span>Description</span>
            <input type="text" ng-model="Productadd.DESCRIPTION">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Qty</span>
            <input type="text" ng-model="Productadd.QUANTITY">
        </label>
         <label class="item item-input item-stacked-label">
            <span>Remarak</span>
            <input type="text" ng-model="Productadd.VISIT_REMARK">
        </label>
        
        <button class="button button-block button-small button-assertive" ng-click="AddVisitProd(Productadd)">ADD</button>
       
    </div>
</ion-content>
</ion-view>

