<ion-view title="Add Visit">
   
<ion-content>
<form class="form-horizontal">
	<div class="form-container fw">
        <div class="visitor3-page fw">
            <div class="white_box fw">
               <span><i class="ion-location"></i>Visit Form</span>
            </div>
        </div>
		<div class="container">
				<div class="row">
					<div class="col">
						
							<div class="form-group">
								<label class="control-label col-xs-5">Doc Series</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Visit ID</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Visit Time From</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Visit Time To</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Visit Date</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Customer Id</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5 no-pad-right">Customer Name</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Area Name</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Address</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-5">Remark</label>
								<div class="col-xs-7"><input type="text" class="form-control"></div>
							</div>
							
							
						
					</div>
				</div>
			</div>
		</div>
	</div>
    
	<div class="form-container fw">
        <div class="visitor3-page fw">
            <div class="white_box fw">
               <span><i class="ion-person"></i> Customer / Contact Form</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                  
                        <div class="form-group">
                            <label class="control-label col-xs-5">Person </label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Position</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Mobile No.</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Email</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                    

                    <div class="contact-repeater">
                      <hr>
                       <div class="form-group">
                            <div class="text-right">
                                <div class="padding plus-minus-btn">
                                    <i class="ion-minus-circled"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Person </label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Position</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Mobile No.</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Email</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                    </div>

                         <div class="form-group">
                            <div class="text-right">
                                <div class="padding plus-minus-btn">
                                    <i class="ion-plus-circled"></i>
                                </div>
                            </div>
                        </div>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="form-container fw">
        <div class="visitor3-page fw">
            <div class="white_box fw">
               <span><i class="ion-pricetags"></i> Sales Person Form</span>
               
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                  
                    <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Sales Person No </label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Name</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Next Action</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Next Action Date</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Next Action Time</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Alert Required</label>
                            <div class="col-xs-7">
                                <select class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Alert Date</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Alert Time</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        
                        <div class="contact-repeater">
                            <hr>
                            <div class="form-group">
                                <div class="text-right">
                                    <div class="padding plus-minus-btn">
                                        <i class="ion-minus-circled"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-5 no-pad-right">Sales Person No </label>
                                <div class="col-xs-7"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Name</label>
                                <div class="col-xs-7"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Next Action</label>
                                <div class="col-xs-7"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5 no-pad-right">Next Action Date</label>
                                <div class="col-xs-7"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5 no-pad-right">Next Action Time</label>
                                <div class="col-xs-7"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Alert Required</label>
                                <div class="col-xs-7">
                                    <select class="form-control">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Alert Date</label>
                                <div class="col-xs-7"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Alert Time</label>
                                <div class="col-xs-7"><input type="text" class="form-control"></div>
                            </div>
                        </div>    
                        
                        <div class="form-group">
                            <div class="text-right">
                                <div class="padding plus-minus-btn">
                                    <i class="ion-plus-circled"></i>
                                </div>
                            </div>
                        </div>
               
             </div>
         </div>
    
</div>
</form>
 <div class="row" style="display:flex;">
    <div class="col-50 col"><a  class="button button-small button-assertive button-block search">Clear All</a></div>
     <div class="col-50 col"><a ng-click="Add_visit()" class="button button-small button-assertive button-block search">Save</a></div>
</div>






</ion-content>
</ion-view>
