<ion-view title="{{(params.lId != '') ? 'Update':'Create'}} Contact">



<ion-content>
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>Contact Person{{ram}}</span>
            <input type="text" ng-model="contact.Received">
        </label>
        <label class="item item-input item-stacked-label">
            <span> Position</span>
            <input type="text" ng-model="contact.performed">
        </label>
        <label class="item item-input item-stacked-label">
            <span> Mobile No.</span>
            <input type="text" ng-model="contact.Product">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Email</span>
            <input type="text" ng-model="contact.Product">
        </label>
       
        
        <button ng-show="(params.lId == '')" class="button button-block button-small button-assertive" ng-click="save_contact('Add')">ADD</button>

        <button ng-show="(params.lId != '')" class="button button-block button-small button-assertive" ng-click="save_contact('Update')">Update</button>
       
    </div>
</ion-content>
</ion-view>


                  