<ion-view title="{{(params.infoId != null) ? 'Update':'Add'}} Info">



<ion-content>
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>Order Received</span>
        <select ng-model="visitInfo.ORDER_RECEIVED" ng-options="item.id as item.name for item in visitInfoOrder">
        </select>
   
        </label>
        <label class="item item-input item-stacked-label">
            <span>Demo performed</span>
        
        <select ng-model="visitInfo.DEMO_PERFORMED" ng-options="item.id as item.name for item in visitInfoOrder">
        </select>

        </label>
        <label class="item item-input item-stacked-label">
            <span>Demo Product</span>
            <input type="text" ng-model="visitInfo.PRODUCT_DEMO">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Product</span>
            <input type="text" ng-model="visitInfo.PRODUCT">
        </label>
       
        
        <button class="button button-block button-small button-assertive" ng-click="AddVisitInfo()">
            {{(params.infoId != null) ? 'Update':'Add'}}
        </button>
       
    </div>
</ion-content>
</ion-view>


      