<ion-view title="{{(params.infoId != '') ? 'Update':'Create'}} Info">



<ion-content>
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>Order Received</span>
    <select ng-model="info.ORDER_RECEIVED" ng-options="item.id as item.name for item in order">
        </select>
   
        </label>
        <label class="item item-input item-stacked-label">
            <span>Demo performed</span>
        
        <select ng-model="info.DEMO_PERFORMED" ng-options="item.id as item.name for item in order">
        </select>

        </label>
        <label class="item item-input item-stacked-label">
            <span>Demo Product</span>
            <input type="text" ng-model="info.PRODUCT_DEMO">
        </label>
       
        
        <button class="button button-block button-small button-assertive" ng-click="AddVisitInfo(info)">ADD</button>
       
    </div>
</ion-content>
</ion-view>


      