<ion-view title="Visit Search">
<ion-nav-buttons side="right">
      <button class="button button-small" ng-click="goToState('dashboard.addVisit')">Create New</button>
</ion-nav-buttons>
   
<ion-content>

    <div class="container">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label>Visit ID</label>
                            <input type="text" class="form-control" ng-model="visitSearch.visitId">
                        </div>
                      <!--  <div class="form-group">
                            <label>Customer ID</label>
                            <input type="text" class="form-control" ng-model="visitSearch.cust_id">
                        </div>
                         <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text" class="form-control" ng-model="visitSearch.cust_name" >
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="row"><div class="col"><button class="button button-block button-small button-assertive" ng-click="Visitsearch()">Search</button></div></div>
        </div>
    </div>

    
     
     

</div>
</ion-content>
</ion-view>

