<ion-view title="Visit Detail">
   <ion-nav-buttons side="right">
<!--  <button class="button button-small" ng-click="goToState('dashboard.addProduct')">ADD PRODUCT</button> -->
<!-- 

       <button class="button button-small" ng-click="goToState('dashboard.addInfo')">ADD INFO</button> -->

</ion-nav-buttons>

<ion-content>
<div id="body_container" class="fw">
    <div class="form-container visitdetails-page fws">
        <div class="container">
            <div class="row">
                <div class="white_box heading-area">
                   <span><i class="ion-ios-location"></i>Visit ID Form</span>
				 <!--    <button class="button button-small btn-red right-btn">add</button> -->
                </div>
				<div class="list">
				  <div class="item item-button-right">{{visitDetails.STATUS}}
					
					<button class="button button-small btn-red" ng-click="goToState('visit.addVisit',{vid:visitDetails.VISIT_ID})" ng-show="(visitDetails.STATUS == 'OPEN')">Edit</button>

				  </div>
				  <div class="item">					
					Doc Series
					<span class="item-note">
					 {{visitDetails.DOC_SERIES}}
					</span>
				  </div> <div class="item">					
					Visit ID
					<span class="item-note">
					 {{visitDetails.VISIT_ID}}
					</span>
				  </div> <div class="item">					
					Visit Time From
					<span class="item-note">
					  {{visitDetails.VISIT_TIME_FROM}}
					</span>
				  </div> <div class="item">					
					Visit Time To
					<span class="item-note">
					  {{visitDetails.VISIT_TIME_TO}}
					</span>
				  </div> <div class="item">					
					Visit Date
					<span class="item-note">
					  {{visitDetails.VISIT_DATE}}
					</span>
				  </div> 	<div class="item">					
					Customer Id
					<span class="item-note">
					  {{visitDetails.CUSTOMER_NO}}
					</span>
				  </div> 	<div class="item">					
					Customer Name
					<span class="item-note">
					  {{visitDetails.CUSTOMER_NAME}}
					</span>
				  </div> 
				  <div class="item">					
					Area Name
					<span class="item-note">
					  {{visitDetails.AREA_NAME}}
					</span>
				  </div> 
				  <div class="item">					
					Address
					<span class="item-note">
					  {{visitDetails.ADDRESS}}
					</span>
				  </div> 
				   <div class="item">					
					Remark
					<span class="item-note">
					  {{visitDetails.REMARK}}
					</span>
				  </div> 	
				</div>	               
            </div>
    
      <!-- repeat contact person div-->
            <div class="row">
                <div class="white_box heading-area">
                   <span><i class="ion-ios-telephone"></i> Customer/Contact Form</span>
				 <!-- <button class="button button-small btn-red right-btn"  ng-click="goToState('visit.addContact')" >Add</button> -->
                </div>

                <p ng-show="(SaleContact.length == 0)">No results found!</p>

				<div class="list" ng-show="(SaleContact.length != 0)" ng-repeat="list in SaleContact">
				  <div class="item">					
					Contact Person
					<span class="item-note">
					  {{list.CONTACT_PERSON}}
					</span>
				  </div> <div class="item">					
					Position
					<span class="item-note">
					  {{list.DESIGNATION}}
					</span>
				  </div> <div class="item">					
					Mobile No.
					<span class="item-note">
					  {{list.MOBILE}}
					</span>
				  </div> <div class="item">					
					Email
					<span class="item-note">
					  {{list.EMAIL}}
					</span>
				  </div> 				  
				</div>		
				
            </div>
               <!-- end repeat contact person div-->

            <!-- repeat sales person div-->
            
            <div class="row">
                <div class="white_box heading-area">
                   <span><i class="ion-ios-person"></i>Sales Person Form</span>
				    <!-- <button class="button button-small btn-red right-btn" ng-click="goToState('dashboard.add_salesperson')">Add</button> -->
                </div>
               
               <p ng-show="(SalesDetails.length == 0)">No results found!</p>
               
               <div class="list" ng-show="(SalesDetails.length != 0)" ng-repeat="list in SalesDetails">
				  <div class="item">					
					Sales Person No
					<span class="item-note">
					 {{list.SALES_PERSON_NO}}
					</span>
				  </div> <div class="item">					
					Name
					<span class="item-note">
					  {{list.SALES_PERSON_NAME}}
					</span>
				  </div> <div class="item">					
					Next Action
					<span class="item-note">
					  {{list.NEXT_ACTION}}
					</span>
				  </div> <div class="item">					
					Next Action Date
					<span class="item-note">
					  {{list.NEXT_ACTION_DATE}}
					</span>
				  </div> 
				  <div class="item">					
					Next Action Time
					<span class="item-note">
					  {{list.NEXT_ACTION_TIME}}
					</span>
				  </div> 	
				  <div class="item">					
					Alert Date
					<span class="item-note">
					 {{list.ALERT_DATE}}
					</span>
				  </div> 
				  <div class="item">					
					Alert Time
					<span class="item-note">
					  {{list.ALERT_TIME}}
					</span>
				  </div> 					  
				</div>	
            </div>
<!--end repeat sales person div-->

<!--start repeat Additional info person div-->
			 
            <div class="row">
				 <div class="white_box heading-area">
                    <span><i class="fa fa-map-marker"></i> Additional info</span>

	 					<button ng-show="(VisitAdditional.length == 0 && visitDetails.STATUS == 'OPEN')" class="button button-small btn-red right-btn" ng-click="goToState('visit.addInfo',{vid:visitDetails.VISIT_ID})" >Add</button>

	 					<button ng-show="(VisitAdditional.length !=0 && visitDetails.STATUS == 'OPEN')" class="button button-small btn-red right-btn" ng-click="goToState('visit.addInfo',{vid:visitDetails.VISIT_ID,infoId:VisitAdditional[0]})" >Edit</button>

				    
                </div>
                <p ng-show="(VisitAdditional.length ==0)">No results found!</p>
                
                <div class="list" ng-show="(VisitAdditional.length !=0)" ng-repeat="list in VisitAdditional">
				  <div class="item">					
					Order Received
					<span class="item-note">
					{{(list.ORDER_RECEIVED =='C1') ? 'YES':'NO'}}
					</span>
				  </div> <div class="item">					
					Demo Performed
					<span class="item-note">
				{{(list.DEMO_PERFORMED =='C1') ? 'YES':'NO'}}
					</span>
				  </div> <div class="item">					
					Demo Product
					<span class="item-note">
					 {{list.PRODUCT_DEMO}}
					</span>
				  </div> <div class="item">					
					Info1
					<span class="item-note">
					 {{list.PRODUCT}}
					</span>
				  </div> 			  
				</div>	
            <div>
            <!--end repeat Additional info person div-->
  
     <!--start repeat product info person div-->
    
            <div class="row">
				 <div class="white_box heading-area">
                     <span><i class="fa fa-map-marker"></i> Product </span>

				    <button class="button button-small btn-red right-btn"  ng-click="goToState('visit.addProduct',{vid:visitDetails.VISIT_ID})" >Add</button>

                </div>
                
                <p ng-show="(SaleProduct.length ==0)">No results found!</p>
                
                <div class="list" ng-show="(SaleProduct.length !=0)" ng-repeat="list in SaleProduct">
				  <div class="item item-button-right">&nbsp;
					<button class="button button-small btn-red" ng-click="goToState('visit.addProduct',{vid:visitDetails.VISIT_ID,pId:list}); ">
					  <i class="ion-android-create"></i>
					</button>
				  </div>
				  <div class="item">					
					Item Type
					<span class="item-note" ng-show="(list.ITEM_TYPE == 'E')">
					 ERP item
					</span>
					<span class="item-note" ng-show="(list.ITEM_TYPE == 'M')">
					New Item
					</span>
				  </div> <div class="item">					
					Item Group
					<span class="item-note">
					   {{list.ITEM_GROUP}}
					</span>
				  </div> <div class="item">					
					Item Code
					<span class="item-note">
					   {{list.ITEM_CODE}}
					</span>
				  </div>
				  <div class="item">					
					Qty
					<span class="item-note">
					   {{list.QUANTITY}}
					</span>
				  </div><div class="item">					
					Description
					<span class="item-note">
					   {{list.DESCRIPTION}}
					</span>
				  </div>  
				  <div class="item">					
					 Remark
					<span class="item-note">
					   {{list.VISIT_REMARK}}
					</span>
				  </div> 				  
				</div>	
            </div>


                 <!--end repeat product info person div-->
        </div>
    </div>

</div>
</ion-content>
</ion-view>
