<ion-view title="VISIT RESULT">
   
<ion-content>

<div class="list master-list">
      <div  class="item" >
      	<div class="master-head">
        	<span>5645</span>
            <button class="button button-stable button-small" ng-click="goToState('dashboard.visitDetails')" >View</button>
            <button class="button button-stable button-small" ng-click="goToState('dashboard.addvisit')"  >Edit</button>
        </div>
      	<div class="master-body">
        	<p>name</p>
        </div>
      </div> 

      <!-- <div ng-show="bpResults.length==0" class="item" >
        <div class="master-body" align="center">
          <p>No results found!</p>
        </div>
      </div> -->

    </div>
</ion-content>
</ion-view>