<ion-view title="BP MASTER">
    <ion-nav-buttons side="right">
          <button class="button button-small" ng-click="goToState('signIn')">Create New</button>
    </ion-nav-buttons>

<ion-content>

    <div class="list master-list">
      <a class="item" href="#">
      	<div class="master-head">
        	<span>Sue D. Walker</span>
            <button class="button button-stable button-small">View</button>
            <button class="button button-stable button-small">Edit</button>
        </div>
      	<div class="master-body">
        	<p><i class="icon ion-home"></i> 4981 Wright Court, Seattle, WA 98101</p>
            <p><i class="icon ion-ios-email"></i> walker29809@gmail.com</p>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="master-head">
        	<span>Modesto S. Brock</span>
            <button class="button button-stable button-small">View</button>
            <button class="button button-stable button-small">Edit</button>
        </div>
      	<div class="master-body">
        	<p><i class="icon ion-home"></i> 1880 Brownton Road, Jackson, MS 39201</p>
            <p><i class="icon ion-ios-email"></i> ModestoSBrock@teleworm.us</p>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="master-head">
        	<span>George A. Moodie</span>
            <button class="button button-stable button-small">View</button>
            <button class="button button-stable button-small">Edit</button>
        </div>
      	<div class="master-body">
        	<p><i class="icon ion-home"></i> 1417 Williams Mine Road, New Providence, NJ 07974</p>
            <p><i class="icon ion-ios-email"></i> GeorgeAMoodie@jourrapide.com</p>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="master-head">
        	<span>Deborah A. Woll</span>
            <button class="button button-stable button-small">View</button>
            <button class="button button-stable button-small">Edit</button>
        </div>
      	<div class="master-body">
        	<p><i class="icon ion-home"></i> 4734 Goosetown Drive, Hendersonville, NC 28792</p>
            <p><i class="icon ion-ios-email"></i> DeborahJWilkerson@rhyta.com</p>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="master-head">
        	<span>John J. Mace</span>
            <button class="button button-stable button-small">View</button>
            <button class="button button-stable button-small">Edit</button>
        </div>
      	<div class="master-body">
        	<p><i class="icon ion-home"></i> 1948 Chicago Avenue, Fresno, CA 93721</p>
            <p><i class="icon ion-ios-email"></i> JohnJMace@jourrapide.com</p>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="master-head">
        	<span>Melisa R. Moses</span>
            <button class="button button-stable button-small">View</button>
            <button class="button button-stable button-small">Edit</button>
        </div>
      	<div class="master-body">
        	<p><i class="icon ion-home"></i> 1813 Upton Avenue, Wiscasset, ME 04578</p>
            <p><i class="icon ion-ios-email"></i> MelisaRMoses@rhyta.com</p>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="master-head">
        	<span>Kelsey F. McMahan</span>
            <button class="button button-stable button-small">View</button>
            <button class="button button-stable button-small">Edit</button>
        </div>
      	<div class="master-body">
        	<p><i class="icon ion-home"></i> 3874 Elk Street, Los Angeles, CA 90017</p>
            <p><i class="icon ion-ios-email"></i> KelseyFMcMahan@jourrapide.com</p>
        </div>
      </a>
     
    </div>
    
</ion-content>
</ion-view>

