<ion-view title="Edit Contact">



<ion-content>
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>BP Code</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Name</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Address</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Country</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>State</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>City</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Area Field</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Email</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Zip</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Currency</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Pay Term</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Tin Number</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>PAN</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span>CST Number</span>
            <input type="text">
        </label>
      </div>
        <div class="row">
          <div class="col col-50"><button class="button button-block button-small button-assertive">Clear All</button></div>
          <div class="col col-50"><button class="button button-block button-small button-assertive">Enter</button></div>
        </div>
</ion-content>
</ion-view>

