<ion-side-menus class="z-auto">
    <ion-side-menu-content ng-controller="NavController">



<ion-nav-bar align-title="center" class="bar-positive header">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>

  <ion-nav-back-button class="button-icon" > <!-- class="button-icon" class="button-clear" -->
  <i class="ion-chevron-left"></i> Back
  </ion-nav-back-button> 
</ion-nav-bar>
 
<ion-nav-view name="dashboard"></ion-nav-view>
</ion-side-menu-content>

    <ion-side-menu side="left" ng-controller="NavController">

<!--       <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Menu</h1>
      </ion-header-bar> -->
      <ion-content has-header="true">
        <ul class="list">
          <li><a ui-sref="dashboard.home" class="item" ng-click="toggleLeft()">Home</a></li>
          <li><a ui-sref="bp.bpSearch" class="item" ng-click="toggleLeft()">BP Master</a></li>
          <li><a  ui-sref="visit.visitSearch" class="item" ng-click="toggleLeft()">Visit Record</a></li>
          <li><a  ui-sref="dashboard.attendance" class="item" ng-click="toggleLeft()">Attendance Punching</a></li>
		  <li><a  ui-sref="report.home" class="item" ng-click="toggleLeft()">Reports</a></li>
		  
		      <li><a ng-click="logout()" class="item">Logout</a></li>
		  
		 
        </ul>
      </ion-content>
      
    </ion-side-menu>

</ion-side-menus>
   
     
	  
</ion-side-menus>
      <div class="overflow-menu">&nbsp;</div>