
			
				<ion-view title="Sign In" hide-nav-bar="true">
				<!--ion-header-bar class="bar-stable">
					<div style="width:100%" align="center"><h3>Sign In</h3></div>
				</ion-header-bar-->
				
				<ion-content>
                	<div class="sign-page">
                    	<div class="signbg-container">
                          <form ng-submit="signIn()">
                            <div class="list">
                        	<div class="logo"><img src="./img/logo.png" alt="" /></div>
                            <div class="login-detail">
                              <label class="item item-input">
                              	<i class="icon ion-ios-person"></i>
                                <input type="text" placeholder="Username" ng-model="signin.email">
                              </label>
                              <label class="item item-input">
                              	<i class="icon ion-ios-unlocked"></i>
                                <input type="password" placeholder="Password" ng-model="signin.password">
                              </label>

                                
                              <button type="submit" class="button button-block" ng-click="login">Sign in</button>
                            
                            </div>
                          </form>
                          </div>
                      </div>
				</ion-content>
				</ion-view>
		