<ion-view title="View Detail">
    <ion-nav-buttons side="right">
          <button class="button button-small">View Contact</button>
    </ion-nav-buttons>

<ion-content>

    <div class="list twosideslist">
      <div class="item item-divider">
      	<div class="row">
        	<div class="col col-33">Field Name</div>
            <div class="col col-67">Details</div>
        </div>
      </div>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">BP Code</div>
            <div class="col col-67">1Z 134 582 00 4433 538 3</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Name</div>
            <div class="col col-67">Kelsey F. McMahan</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Address 1</div>
            <div class="col col-67">3874 Elk Street 2nd</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Address 2</div>
            <div class="col col-67">N/A</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">City</div>
            <div class="col col-67">Los Angeles</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">State</div>
            <div class="col col-67">California</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Country</div>
            <div class="col col-67">United States</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Zip</div>
            <div class="col col-67">90017</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Payterm</div>
            <div class="col col-67">322</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Area</div>
            <div class="col col-67">34.123381, -118.323743</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Email ID</div>
            <div class="col col-67">KelseyFMcMahan@jourrapide.com</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Currency</div>
            <div class="col col-67">Dollars</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">TIN No.</div>
            <div class="col col-67">4556 </div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">CST No.</div>
            <div class="col col-67">5343</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">PAN No.</div>
            <div class="col col-67">607-53-XXXX</div>
        </div>
      </a>
      
    </div>
    
</ion-content>
</ion-view>

