<ion-view title="Visit Records">
   
<ion-content>

    <div class="list visitor-form">
    	<div class="alert-row">
        <label class="item item-input item-select">
        	<i class="icon ion-information-circled"></i>  
            <div class="input-label"> Alert For Visiters (Required)</div>
            <select>
              <option selected>Yes</option>
              <option >No</option>
              
            </select>
         </label>
  
        
            
        </div>
    	<div class="common-sec">
        	<div class="section-head"><i class="icon ion-android-pin"></i> Visit ID Form</div>
        	<div class="form-sec">
              <label class="item item-input">
                <span class="input-label">Doc Series</span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Visit ID</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Visit Time From</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Visit Time To</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Visit Date</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Customer Id</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Customer Name</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Area Name</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Remark</span>
                <input type="password">
              </label>
              <small>all fields must be filled out</small>
              <div class="updatebtn-sec"><a href="#" class="button button-small button-assertive">+</a><div>
             </div>
      	</div>
        </div>
        <div class="common-sec">
        	<div class="section-head"><i class="icon ion-ios-person"></i> Customer / Contact Form</div>
        	<div class="form-sec">
              <label class="item item-input">
                <span class="input-label">Person</span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Position</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Mobile No.</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Person</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Position</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Mobile No.</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="password">
              </label>
              <div class="updatebtn-sec"><a href="#" class="button button-small button-assertive">-</a> <a href="#" class="button button-small button-assertive">+</a><div>
             </div>
      	</div>
        </div>
        <div class="common-sec">
        	<div class="section-head"><i class="icon ion-ios-pricetag"></i> Sales Person Form</div>
        	<div class="form-sec">
              <label class="item item-input">
                <span class="input-label">Sales Person No</span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Next Action</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Next Action Date</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Next Action Time</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Alert Required</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Alert Date</span>
                <input type="password">
              </label>
              <label class="item item-input">
                <span class="input-label">Alert Time</span>
                <input type="password">
              </label>
               <div class="updatebtn-sec"><a href="#" class="button button-small button-assertive">+</a><div>
             </div>
      	</div>
    </div>
    </div>
    <div class="row">
      <div class="col col-50"><button class="button button-block button-small button-assertive">Clear All</button></div>
      <div class="col col-50"><button class="button button-block button-small button-assertive">Next</button></div>
    </div>
    
</ion-content>
</ion-view>

