<ion-view title="Visit Record">
    <ion-nav-buttons side="right">
          <button class="button button-small">View Contact</button>
    </ion-nav-buttons>

<ion-content>

    <div class="list twosideslist visit-recordpage">
      <div class="item item-divider">
      	<div class="row">
        	<div class="col">Doc Series</div>
        </div>
      </div>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Visit ID</div>
            <div class="col col-67">354433 538 3</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Visit Time From</div>
            <div class="col col-67">9:45 AM</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Visit Time To</div>
            <div class="col col-67">5:50 PM</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Visit Date </div>
            <div class="col col-67">5 Oct. 2015</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Customer Id</div>
            <div class="col col-67">2068002135</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Customer Name</div>
            <div class="col col-67">Mary P. Alvarado</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Area Name</div>
            <div class="col col-67">MS 38654</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Address</div>
            <div class="col col-67">1244 Tanglewood Road, Olive Branch</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Remark</div>
            <div class="col col-67">322</div>
        </div>
      </a>
      <a class="item" href="#">
      	<div class="row">
        	<div class="col col-33">Location</div>
            <div class="col col-67">United States 34.123381,</div>
        </div>
      </a>
      
    </div>
    <button class="button button-block  button-assertive button-small">Search</button>
    
</ion-content>
</ion-view>

