<ion-view title="Visit Records">
   
<ion-content>

    <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form>
            <div class="form-group">
                            <label>Visit ID</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Customer ID</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12"><a href="#" class="btn btn-danger btn-block search">Search</a></div>

</div>
</ion-content>
</ion-view>

