<ion-view title="ATTENDANCE">

<!-- <ion-nav-buttons side="right">
      <button class="button button-small" ng-click="goToState('dashboard.bpCreate')">Create New</button>
</ion-nav-buttons> -->

<ion-content>
	<div id="body_container" class="fw">
    <div class="form-container fw">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 attendence-page">
                    <div class="form-group">
                        <label>In time</label>
                        <input type="text" class="form-control">
                        <a href="#" class="btn btn-danger pull-right">Save</a>
                    </div>
                    <div class="form-group">
                        <label>Out time</label>
                        <input type="text" class="form-control">
                        <a href="#" class="btn btn-danger pull-right">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</ion-content>
</ion-view>

