<ion-view title="ADD RECORDS">
   
<ion-content>
<div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-5">Doc Series</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Visit ID</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Visit Time From</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Visit Time To</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Visit Date</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Customer Id</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Customer Name</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Area Name</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Address</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Remark</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group"><div class="col-xs-12"><small class="notice">all fields must be filled out</small></div></div>
                        <div class="form-group"><div class="col-xs-12 text-right calculate-btn">
                            <a href="#"><img src="common/images/plus.png" alt=""></a>
                        </div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container fw">
        <div class="visitor3-page fw">
            <div class="white_box fw">
               <span><i class="fa fa-user"></i> Customer / Contact Form</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-5">Person </label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Position</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Mobile No.</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Email</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group"><div class="col-xs-12 text-right calculate-btn">
                            <a href="#"><img src="common/images/minus.png" alt=""></a>
                            <a href="#"><img src="common/images/plus.png" alt=""></a>
                        </div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container fw">
        <div class="visitor3-page fw">
            <div class="white_box fw">
               <span><i class="fa fa-tag fa-rotate-90"></i> Sales Person Form</span>
               <!--div class="col-xs-12 pull-right no-pad alert-sec">
                    <form>
                        <label><i class="fa fa-exclamation-circle"></i> Alert (Required)</label>
                        <div class="col-xs-3 no-pad pull-right">
                            <select class="form-control">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </form>
                </div-->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Sales Person No </label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Name</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Next Action</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Next Action Date</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5 no-pad-right">Next Action Time</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Alert Required</label>
                            <div class="col-xs-7">
                                <Select class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Alert Date</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Alert Time</label>
                            <div class="col-xs-7"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group"><div class="col-xs-12 text-right calculate-btn">
                            <a href="#"><img src="common/images/plus.png" alt=""></a>
                        </div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"><a href="#" class="btn btn-danger btn-block search">Clear All</a></div>
    <div class="col-xs-6"><a href="#" class="btn btn-danger btn-block search">Save</a></div>
</div>

</ion-content>
</ion-view>
