<ion-view title="ADD INFO">



<ion-content>
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>Order Received</span>
            <input type="text" ng-model="info.Received">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Demo performed</span>
            <input type="text" ng-model="info.performed">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Demo Product</span>
            <input type="text" ng-model="info.Product">
        </label>
       
        
        <button class="button button-block button-small button-assertive" ng-click="save_info(info)">ADD</button>
       
    </div>
</ion-content>
</ion-view>

