<ion-view title="Visit Records">
   <ion-nav-buttons side="right">
      <button class="button button-small" ng-click="goToState('dashboard.addvisit')">Create New</button>
</ion-nav-buttons>
<ion-content>

<div class="container">
        <div class="row">
             <div class="col-xs-3"><a href="#" class="back-btn"><i class="fa fa-chevron-left"></i> Back</a></div>
             <div class="col-xs-5 text-center"><span class="page-title">Visit Record </span></div>
             <div class="col-xs-4 no-pad-left text-right"><a href="#" class="btn btn-danger">Create New</a></div>                                             
        </div>
    </div>
</header>
<div id="body_container" class="fw">
    <div class="form-container fws">
        <div class="container">
            <div class="row">
                <div class="white_box fw">
                   <span><i class="fa fa-map-marker"></i> Visit ID Form</span>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <!--thead>
                            <tr>
                                <th>Doc Series</th>
                                <th></th>
                            </tr>
                        </thead-->
                        <tbody>
                            <tr> <td>Doc Series</td> <td>354433 538 3</td> </tr>
                            <tr> <td>Visit ID</td> <td>354433 538 3</td> </tr>
                            <tr> <td>Visit Time From</td> <td>9:45 AM</td> </tr>
                            <tr> <td>Visit Time To</td> <td>5:50 PM</td> </tr>
                            <tr> <td>Visit Date </td> <td>5 Oct. 2015</td> </tr>
                            <tr> <td>Customer Id</td> <td>2068002135</td> </tr>
                            <tr> <td>Customer Name</td> <td>Mary P. Alvarado</td> </tr>
                            <tr> <td>Area Name</td> <td>MS 38654</td> </tr>
                            <tr> <td>Address</td> <td>1244 Tanglewood Road, Olive Branch</td> </tr>
                            <tr> <td>Remark</td> <td>322</td> </tr>
                            <tr> <td>Location</td> <td>United States 34.123381,</td> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            
            <div class="row">
                <div class="white_box fw">
                   <span><i class="fa fa-map-marker"></i> Customer/Contact Form</span>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <!--thead>
                            <tr>
                                <th>Doc Series</th>
                                <th></th>
                            </tr>
                        </thead-->
                        <tbody>
                            <tr> <td>Contact Person</td> <td>354433 538 3</td> </tr>
                            <tr> <td>Position</td> <td>354433 538 3</td> </tr>
                            <tr> <td>Mobile No.</td> <td>9:45 AM</td> </tr>
                            <tr> <td>Email</td> <td>5:50 PM</td> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="white_box fw">
                   <span><i class="fa fa-map-marker"></i> Sales person Form</span>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <!--thead>
                            <tr>
                                <th>Doc Series</th>
                                <th></th>
                            </tr>
                        </thead-->
                        <tbody>
                            <tr> <td>Sales Person No </td> <td>354433 538 3</td> </tr>
                            <tr> <td>Name</td> <td>354433 538 3</td> </tr>
                            <tr> <td>Next Action</td> <td>9:45 AM</td> </tr>
                            <tr> <td>Next Action Date</td> <td>5:50 PM</td> </tr>
                            <tr> <td>Next Action Time</td> <td>5:50 PM</td> </tr>
                            <tr> <td>Alert Required</td> <td>5:50 PM</td> </tr>
                            <tr> <td>Alert Date</td> <td>5:50 PM</td> </tr>
                            <tr> <td>Alert Time</td> <td>5:50 PM</td> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            
            <div class="row">
                <div class="white_box fw">
                   <span><i class="fa fa-map-marker"></i> Additional info</span>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <!--thead>
                            <tr>
                                <th>Doc Series</th>
                                <th></th>
                            </tr>
                        </thead-->
                        <tbody>
                            <tr> <td>Order Received</td> <td>354433 538 3</td> </tr>
                            <tr> <td>Demo Performed</td> <td>354433 538 3</td> </tr>
                            <tr> <td>Demo Product</td> <td>9:45 AM</td> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="white_box fw">
                   <span><i class="fa fa-map-marker"></i> Product </span>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <!--thead>
                            <tr>
                                <th>Doc Series</th>
                                <th></th>
                            </tr>
                        </thead-->
                        <tbody>
                            <tr> <td>Order Received</td> <td>354433 538 3</td> </tr>
                            <tr> <td>Item category </td> <td>354433 538 3</td> </tr>
                            <tr> <td>Item Code</td> <td>9:45 AM</td> </tr>
                            <tr> <td>Description</td> <td>9:45 AM</td> </tr>
                            <tr> <td>Qty</td> <td>9:45 AM</td> </tr>
                            <tr> <td>Remark</td> <td>9:45 AM</td> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</ion-content>
</ion-view>
