<ion-view title="{{(params.lId != '') ? 'Update':'Create'}} Contact">


<ion-content>

	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>Contact Person</span>
            
            <input  maxlength="60" type="text" ng-model="bp_contact.CONTACT_PERSON" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Designation</span>
            <input   maxlength="40" type="text" ng-model="bp_contact.DESIGNATION" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Email</span>
            <input type="email" ng-model="bp_contact.EMAIL">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Mobile No</span>
        <input restrict-input="^[0-9]*$" maxlength="10" type="text" ng-model="bp_contact.MOBILE_NO" ng-required="true">
        </label>
       
        <button type="button" ng-click="save_contact('Add')" ng-show="(params.lId == '')" class="button button-block button-small button-assertive" >ADD</button>

        <button type="button" ng-click="save_contact('Update')" ng-show="(params.lId != '')" class="button button-block button-small button-assertive" >Update</button>

        
       
       
    </div>
</form>
</ion-content>
</ion-view>

