<ion-view title="{{(params.bpId != '') ? 'Update':'Create'}} BP">

<ion-content  overflow-scroll="true">
<!-- <button class="button button-small button-block button-positive" ng-click="geolocationFun()" >Save</button> -->
<form ng-submit="BPAddUpdate()" >
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'bpcode'}" id="bpcode"> 
            <span>BP Code*</span>
            <input type="text" restrict-input="^[a-zA-Z0-9-_]*$" maxlength="10" ng-focus="rmEleId('bpcode')"  ng-model="bpModel.BP_Code" ng-readonly="{{(params.bpId != '') ? 'true':'false'}}"   >
        </label>
        <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'bpname'}" id="bpname">
            <span>Name* </span>
            <input maxlength="60" type="text" ng-focus="rmEleId('bpname')" ng-model="bpModel.NAME"    >
        </label>
      
    

        <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'address'}" id="address"  >
            <span>Address1*</span>
            <input type="text" maxlength="60" ng-focus="rmEleId('address')" ng-model="bpModel.ADDRESS1"   >
        </label>
        <label class="item item-input item-stacked-label">
            <span>Address2</span>
            <input type="text" maxlength="60" ng-model="bpModel.ADDRESS2">
        </label>
        <!--p class="ion-android-locate" ng-click="geolocationFun()" style="cursor:pointer" ></p-->
      <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'city'}" id="city">
            <span>City*</span>
            <input type="text"  maxlength="40" ng-focus="rmEleId('city')" ng-model="bpModel.CITY"  >
        </label>
         <label class="item item-input item-stacked-label" >
            <span>State</span>
            <input type="text"  maxlength="40" ng-model="bpModel.STATE" >
        </label>
        <label class="item item-input item-stacked-label">
            <span>Country</span>
            <input type="text"  maxlength="40" ng-model="bpModel.COUNTRY">
        </label>
       
        
        <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'areacode'}" id="areacode">
            <span>Area Code*</span>
           <!--  <input type="text" maxlength="40" ng-model="bpModel.AREA_CODE"> -->

             <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="bpModel.AREA_CODE"
                       item-value-key="AREA_CODE"
                       item-view-value-key="label"
                       items-method="getGroupID(query)"
                       items-clicked-method="getGroupClicked(callback)"
                       items-removed-method="getGroupRemoved(callback)"
                       max-selected-items="1"
                       select-items-label="Search Area Code"
                       selected-items-label="Selected Area Code:"
                       component-id="AREA_CODE" />
        </label>
        <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'emailid'}" id="emailid">
            <span>Email</span>
            <input type="text" ng-focus="rmEleId('emailid')" ng-model="bpModel.EMAIL_ID" >
        </label>
        <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'mobile'}" id="mobile">
            <span>Mobile No.*</span>
      <input type="text" restrict-input="^[0-9,]*$" maxlength="10" ng-focus="rmEleId('mobile')" ng-model="bpModel.PHONE_NO"  >
        </label>
        <label class="item item-input item-stacked-label">
            <span>Zip</span>
            <input type="text" maxlength="6" restrict-input="^[0-9,]*$"  ng-model="bpModel.Zip">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Currency </span>

        </label>
         <select class="form-control" ng-model="bpModel.CURRENCY" ng-options="item.Key as item.Currency for item in Currency"></select>

        <label class="item item-input item-stacked-label">
            <span>TIN Number</span>
            <input type="text" maxlength="40" ng-model="bpModel.TIN_GRN">
        </label>
         <label class="item item-input item-stacked-label">
            <span>CST Number</span>
            <input type="text" maxlength="40" ng-model="bpModel.CST_NO">
        </label>
        <label class="item item-input item-stacked-label">
            <span>PAN No.</span>
            <input type="text" maxlength="40" ng-model="bpModel.PAN_NO">
        </label>


        <label class="item item-input item-stacked-label" ng-class="{'erClass':eleId === 'location'}"  id="location">
             <span>Customer Location*</span>
        <input type="text" ng-readonly="true" ng-click="getGeoLocation()" ng-model="bpModel.LOCATION" class="form-control" ng-focus="rmEleId('location')"  >
      </label>
  <label class="item item-input item-stacked-label">
            <span>Sales Person</span>
            <!-- <input maxlength="60" type="text" ng-model="bpModel.SALES_PERSON_NO"> -->

            <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="bpModel.SALES_PERSON_NO"
                       item-value-key="SALES_PERSON_NO"
                       item-view-value-key="label"
                       items-method="getSalesID(query)"
                       items-clicked-method="getSalesIDClicked(callback)"
                       items-removed-method="getSalesIDRemoved(callback)"
                       max-selected-items="1"
                       select-items-label="Search Sales Persron"
                       selected-items-label="Selected Sales No:"
                       component-id="SALES_PERSON_NO" />


        </label>
        </div>
        <div ng-show="(params.bpId == '')" class="row">
          <div class="col col-50"><button type="button" class="button button-block button-small button-assertive" ng-click="clearBpModel();">Clear All</button></div>
          <div class="col col-50"><button type="submit" class="button button-block button-small button-assertive" >Enter</button></div>
        </div>

        <div ng-show="(params.bpId != '')" class="row">
            <div class="col col-50"><button type="button" class="button button-block button-small button-assertive" ng-click="goToState('bp.bpSearch')">Cancel</button></div>
          <div  class="col col-50"><button  type="submit" class="button button-block button-small button-assertive" >Update</button></div>
        </div>
          
        </div>
        
</form>

</ion-content>
</ion-view>

