<ion-view title="{{bpDetail.BPResult.BP_Code}}">
    <ion-nav-buttons side="right">
          <button class="button button-small" ng-click="add_contact()">Add Contact</button>
    </ion-nav-buttons>

<ion-content>



<div id="body_container" class="fw">
    <div class="form-container visitdetails-page fws">
        <div class="container">
            <div class="row">
                <div class="white_box heading-area">
                   <span><i class="ion-ios-location"></i>BP Reports</span>
            <button class="button button-small btn-red right-btn">add</button>
                </div>
        <div class="list">
          <div class="item item-button-right">1
          <button class="button button-small btn-red"  >
            <i class="ion-android-create"></i>
          </button>
          </div>
          <div class="item">          
          BP Code
          <span class="item-note">
            {{bpDetail.BPResult.BP_Code}}
          </span>
          </div>
          <div class="item">          
          Name
          <span class="item-note">
          {{bpDetail.BPResult.NAME}}
          </span>
          </div> 
          <div class="item">          
          Address 1
          <span class="item-note">
           {{bpDetail.BPResult.ADDRESS1}}
          </span>
          </div>
          <div class="item">          
          Address 2
          <span class="item-note">
           {{bpDetail.BPResult.ADDRESS2}}
          </span>
          </div> 
          <div class="item">          
          City
          <span class="item-note">
          {{bpDetail.BPResult.CITY}}
          </span>
          </div> 
          <div class="item">          
          State
          <span class="item-note">
          {{bpDetail.BPResult.STATE}}
          </span>
          </div> 
          <div class="item">          
          Country
          <span class="item-note">
          {{bpDetail.BPResult.COUNTRY}}
          </span>
          </div> 
          <div class="item">          
          Zip
          <span class="item-note">
          {{bpDetail.BPResult.Zip}}
          </span>
          </div> 
          <div class="item">          
          Payterm
          <span class="item-note">
          {{bpDetail.BPResult.PAYTERM}}
          </span>
          </div> 
          <div class="item">          
          Zip
          <span class="item-note">
          {{bpDetail.BPResult.Zip}}
          </span>
          </div> 
          <div class="item">          
          Area
          <span class="item-note">
          {{bpDetail.BPResult.AREA_CODE}}
          </span>
          </div>  
          <div class="item">          
          Email ID
          <span class="item-note">
          {{bpDetail.BPResult.EMAIL_ID}}
          </span>
          </div> 
          <div class="item">          
          Currency
          <span class="item-note">
          {{bpDetail.BPResult.CURRENCY}}
          </span>
          </div> 
          <div class="item">          
          TIN No.
          <span class="item-note">
          {{bpDetail.BPResult.TIN_GRN}}
          </span>
          </div>  
          <div class="item">          
          CST No.
          <span class="item-note">
          {{bpDetail.BPResult.Company_NO}}
          </span>
          </div>  
          <div class="item">          
          PAN No.
          <span class="item-note">
          {{bpDetail.BPResult.PAN_NO}}
          </span>
          </div> 
           
            <div class="row">
                <div class="white_box heading-area">
                   <span><i class="ion-ios-telephone"></i> Customer/Contact Form</span>
         <button class="button button-small btn-red right-btn">add</button>
                </div>        
        <div class="list">
          <div class="item item-button-right">1
          <button class="button button-small btn-red">
            <i class="ion-android-create"></i>
          </button>
          </div>
          <div class="item">          
          Contact Person
          <span class="item-note">
{{bpDetail.BPSetContact.CONTACT_PERSON}}
          </span>
          </div> <div class="item">         
          Designation
          <span class="item-note">
{{bpDetail.BPSetContact.DESIGNATION}}
          </span>
          </div> <div class="item">         
          Email
          <span class="item-note">
{{bpDetail.BPSetContact.EMAIL}}
          </span>
          </div> <div class="item">         
          Phone No
          <span class="item-note">
{{bpDetail.BPSetContact.PHONE}}
          </span>
          </div>          
        </div>    
          
            </div>
     
        </div>                 
            </div>
        </div>
    </div>
</div>
    
</ion-content>
</ion-view>

