<ion-view title="BP Search">

<ion-nav-buttons side="right">
      <button class="button button-small" ng-click="goToState('bp.bpCreate')">Create New</button>
</ion-nav-buttons>

<ion-content>
	<div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span>Business Partners/Customers</span>
            <input type="text" ng-model="bpSearch.bp_code">
        </label>
        <label class="item item-input item-stacked-label">
            <span>Name</span>
           <!--  <input type="text" ng-model="bpSearch.cp_name"> -->

            <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control" autocomplete="off" ng-model="bpSearch.cp_name"
                       item-value-key="NAME"
                       item-view-value-key="NAME"
                       items-method="BPSearchPerson(query)"
                       items-clicked-method="BPSearchPersonClicked(callback)"
                       items-removed-method="BPSearchPersonRemoved(callback)"
                       cancel-button-clicked-method="tesTing(callback)"
                       max-selected-items="1"
                       select-items-label="Search Name"
                       selected-items-label="Selected Name:"
                       component-id="NAME" />
        </label>
        <button class="button button-block button-small button-assertive" ng-click="BPsearchCall()">Search</button>
     
    </div>
</ion-content>
</ion-view>

