<ion-view title="Visit Records">
   
<ion-content>

    <div class="list list-inset custom-namidpage">
    	<div class="search-sec">
        	 <label class="item item-input">
                <input type="text" placeholder="Search">
               <a class="placeholder-icon"><img src="../../img/search-icon2.png" /></a>
              </label>
        </div>
    	<div class="custom-namidpage-head">
        	<span>Visit ID</span>
            <button class="button button-small button-stable">Select</button>
            <button class="button button-small button-stable">Remove</button>
        </div>
        <div class="form">
          <label class="item item-input item-stacked-label">
            <span>Customer ID</span>
            <input type="text">
          </label>
          <label class="item item-input item-stacked-label">
            <span>Customer Name</span>
            <input type="text">
          </label>
        </div>
     </div>
    
    
    <div class="row">
      <div class="col col-50"><button class="button button-block button-small button-assertive">Clear All</button></div>
      <div class="col col-50"><button class="button button-block button-small button-assertive">Next</button></div>
    </div>
    
</ion-content>
</ion-view>

