<ion-view title="Visit Records">
   
<ion-content>

    <div class="list visitor-form visit3">

    	<div class="common-sec">
        	<div class="section-head"><i class="icon ion-android-pin"></i> Additional Info</div>
        	<div class="form-sec">
              <label class="item item-input item-select">
                <span class="input-label">Order Received</span>
                <select>
                	<option>Credit Card</option>
                    <option>Credit Card</option>
                    <option>Credit Card</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <span class="input-label">Demo Performed</span>
                <select>
                	<option>Demo Performed</option>
                    <option>Demo Performed</option>
                    <option>Demo Performed</option>
                </select>
              </label>
              <label class="item item-input">
                <span class="input-label">Demo Product</span>
                <input type="text">
              </label>
              
              
             </div>
      	</div>
       
        <div class="common-sec">
        	<div class="section-head"><i class="icon ion-cube"></i> Product</div>
        	<div class="form-sec">
             <label class="item item-input item-select">
                <span class="input-label">Item Type</span>
                <select>
                	<option>Credit Card</option>
                    <option>Credit Card</option>
                    <option>Credit Card</option>
                </select>
              </label>
              
              <label class="item item-input">
                <span class="input-label">Item category </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Item Code</span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Qty</span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Remark</span>
                <input type="text">
              </label>
             
             </div>
      	</div>
        </div>
    <div class="row">
      <div class="col col-50"><button class="button button-block button-small button-assertive">Clear All</button></div>
      <div class="col col-50"><button class="button button-block button-small button-assertive">Next</button></div>
    </div>
    
</ion-content>
</ion-view>

